<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Chat Room</h5>
                </div>
                <div class="card-body">
                    <ul id="messages" class="list-group">
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input id="message_input" class="form-control" autocomplete="off">
                        <button class="btn btn-primary mt-2" onclick="sendMessage()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
<script>
    var username = prompt("Please enter your username:");
    if (!username || username.trim() === "") {
        alert("Username cannot be empty. Please refresh the page and try again.");
    }

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('message', function (data) {
        var messages = document.getElementById('messages');
        messages.innerHTML += '<li><b>' + data.username + ':</b> ' + data.msg + '&nbsp;<span class="time">' + data.timestamp + '</span></li>';
    });

    function sendMessage() {
        var message_input = document.getElementById('message_input');
        var message = message_input.value.trim();

        if (message !== '') {
            var timestamp = new Date().toLocaleTimeString();
            socket.emit('message', {username: username, msg: message, timestamp: timestamp});
            message_input.value = '';
        }
    }

    // Function to send message when Enter key is pressed
    function handleKeyPress(event) {
        if (event.keyCode === 13) { // Check if Enter key is pressed
            event.preventDefault(); // Prevent default form submission behavior
            sendMessage(); // Call sendMessage function to send the message
        }
    }

    // Add event listener for key press events in the message input field
    document.getElementById('message_input').addEventListener('keypress', handleKeyPress);
</script>

</script>
</body>
</html>
